
#info-select .Select-multi-value-wrapper .Select-value div{
    background-color: #1e1e1e;
    color: #fff;
}

#info-select .Select div{
    background-color: #1e1e1e;
    color: #fff;
}


#info-select .Select-control div{
    background-color: #1e1e1e;
    color: #fff;
}

